@import url(https://fonts.google.com/share?selection.family=Gayathri:wght@100);
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
*,
::before,
::after {
    box-sizing: inherit;
}

*/

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.flowerrow {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flowerrow div {
        width: 19.6%;
        height: 19.6%;
}
    
.flowerrow div img {
        width: 100%;
        height: auto;
}
    
.flowerrow div img:hover {
        width: 100%;
        height: auto;
        transform: scale(1.1);
        transition:transform .5s;
}

.abovefooter {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.logo{
    width: 30%;
    margin-left: auto;
}
.logo img {
    width: 75%;
}

.footertext {
    width: 57%;
    /* margin-top: auto; */
    text-align: left;
    font-family: "Gayathri";
    font-size: .9em;
    color: #444;
    font-weight: 100;
}

.linksi {
    width: 13%;
    /* margin: auto; */
    font-size: .8em;
    text-align: center;
}

.linksi a {
    margin: 1% 0;
    color: #222;
    padding: 0 4%;
}



/*

.justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}