* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

  }

  body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    align-items: center;
    position: relative;
    color: #82817a;
    font-weight: 200;
    
  }
/* here header starts obviously  */
  header {
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 80%;
  }

  .list {
    
    list-style-type: none;
    padding: 0rem;
    margin: 4rem 0rem 0rem 1rem;
  }

  li {
    float: left;
    padding: 0rem;
    margin:  1.5rem 0rem 00rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    
  }

  .active {
      color: #f46399;
  }
/* here you have hover effect delete if unnecesary */
  li:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 20px #f46399;
    filter: brightness(120%);

  }
/* here you have logo */


  .logo {
    padding: 4.5rem ;
    margin: 0rem 0rem 0rem 0rem;
   }

  .logo img {
    width: 250px;
  } 

/* icons in the menu */
  .icons {
    
    margin:  4rem 0rem 0rem 3rem;
    list-style: none;
  }

  .lip {
    font-size: 12px;
    padding: 0;
    margin: 1.75rem 0rem 0 0.5rem;
  }

  .bag {
    margin: 1.75rem 0rem 0rem 0.5rem;
    color: #f46399;
    font-size: 12px;
  }

  .fa-heart {
    padding: 0rem 0rem 0rem 0rem;
  }

  .fa-magnifying-glass {
    margin: 0rem 1rem 0rem 0rem;;
  }

  .fa-bag-shopping {
    padding: 0rem 0rem 0rem 0rem;
  }

