* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 
  :root {
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --dark: #292a2b;
  }

  .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 20%;
      margin: 0.2em;
  }

  .container{
    width: 70%;
    margin: auto;
}

  .card img {
    width: 100%;
    height: auto;
}

 .row{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      
      }

h3{
    font-size: 1.1vw;
    padding-top: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
}
.price{
    font-size:  1vw;
    font-weight: bold;
    padding-top: .8em;

}

.barra{
    
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.burguer{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    font-size: .8vw;
       
}
.icono-burguer{
    margin-right: 1em;
    background-color: lightgray;
    font-size: 1.3vw;
}

.search{
    display: flex;
    flex-direction: row;
    margin-top: 1em;

    border: solid 1px;
    width: 10%;
    font-size: 1vw;
    
}
.sort{
    font-size:.8vw;
    margin: auto;
   
}

.icono-arrow{
font-size:1.2vw;
margin: auto;
}

a{
    display: flex;
    justify-content: center;
    font-size: 0.8vw;
    color: black;
    margin-bottom: 1em;
    margin-top: 1em;
    text-underline-offset:10px;
    
}

.texto-encima1{
    display: flex;
    position: absolute;
    top: 10px;
    left:8px;
    color:white;
    background-color: black;
    font-size:  .8vw;
    font-weight:  bold;
    padding: 0.1rem 0.2rem;
}

.texto-encima2{
    display: flex;
    position: absolute;
    top: 10px;
    left: 8px;
    color:white;
    background-color: black;
    font-size:  .8vw;
    font-weight:  bold;
    padding: 0.1rem 0.2rem;
}
.texto-encima3{
    display: flex;
    position: absolute;
    top: 10px;
    left: 8px;
    color:white;
    background-color: black;
    font-size:  .8vw;
    font-weight:  bold;
    padding: 0.1rem 0.2rem;
}

.icono-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-top: 10em;

}

.round-icons{
    
    margin-left: .3em;
    margin-right: .3em;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    font-size:1.2vw;
}

.add{
    font-size: .8vw;
    font-weight:  bold;
    color: var(--pink);
    padding-top: 1em;
}

