/*Feature_DiegoTMillan*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    }
/*a todos los selectores le he puesto la palabra footer y un guión para que 
no haya conflictos*/
.footer-t1{
    margin: 2em auto;
    width: 80%;
    background-color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.footer-principal{
    display: flex;
    justify-content: center;
}
/* Al ensanchar la pantalla queda demasiado margen derecha en el box1*/
/* Además al minimizar mucho se mete el contenido en la footer-Box2*/
/*BOX1*/
.footer-box1{
    display:flex;
    border-top: 1px solid hsl(0, 0%, 92%);
    border-bottom: 1px solid hsl(0, 0%, 92%);
    border-right: 1px solid hsl(0, 0%, 92%);
    padding:4% 0% 0% 0%;
    font-size: 1rem;
    width:33%

}
.footer-title1{
    width: 40%;
    text-decoration: none;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
    margin-top: -0.7em;
}
.footer-h3{
    font-size: 2rem;
    font-weight: lighter;
}
.footer-title2{
    width: 40%;
    margin-left: 8%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    margin-top: -.7em;
}
/*he puesto un hover en los enlaces de la primera caja.
si pasas por encima el ratón se eleva y hace sombre
Si hay conflicto con el hoover, solo habría que poner footer delante a la clase
y hacer lo mismo en el html*/
 .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
.footer-a1{
    text-decoration: none;
    color: hsl(258, 5%, 41%);
    line-height: 3.2rem;
    font-size: 1.3rem;
}
.footer-title1 h3{
    margin-bottom: 0.5em;
}
.footer-title2 h3{
    margin-bottom: 0.5em;
}
.footer-h3-2{
    margin-bottom: 1.5em;
}
/*BOX2*/
.footer-box2 h3{
    margin-bottom: 00.9em;
    margin-top: -0.4em;
}
.footer-box2{
    display:flex;
    flex-direction: column;
    border-top: 1px solid hsl(0, 0%, 92%);
    border-bottom: 1px solid hsl(0, 0%, 92%);
    border-right: 1px solid hsl(0, 0%, 92%);
    padding:4% 4% 0% 4%;
    font-size: 1rem;
    width:33%;
}
.footer-textsubscribe{
    color: hsl(258, 5%, 41%);
    margin-bottom: 1.3em;
    margin-top: -0.5em;
    line-height: 2.5rem;
    font-size: 1.3rem;
}
/*hay problemas con SUBSCRIBE, se sale del input si se encoge la pantalla
y se descoloca al ensanchar la pantalla, no sé si la solución es óptima*/

.footer-inputspan {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
}
/*Experimento sin éxito*/
/* .footer-flex1{
    width:50%;
} */
/*Experimento sin éxito*/
.footer-flex2{
    justify-content: right;
    align-items: right;
    margin-left: auto;
}
.footer-input1{
    padding-bottom: 0.5em;
    font-size: 1.2rem;
}
/*le he puesto un hover al subscribe para que se agrande un poco*/
.footer-a2{
    text-decoration: none;
    color:black;
    margin-left:auto;
}
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
/*BOX3*/
.footer-box3 h3{
    margin-bottom: 000.9em;
    margin-top: -0.5em
}
.footer-box3{
    display:flex;
    flex-direction: column;
    border-top: 1px solid hsl(0, 0%, 92%);
    border-bottom: 1px solid hsl(0, 0%, 92%);
    padding: 4% 0% 4% 4%;
    font-size: 1rem;
    margin-right: 1em;
    width: 33%;
}
.footer-box3 h3{
    margin-left: 1.1em;
}
.footer-address{
    margin-top: -0.7em;
    line-height: 3.2rem;
    color:hsl(258, 5%, 41%);
    font-size: 1.4rem;
    margin-left: 1.6em;
}
.footer-code{
    color:#f46399
}
i{
    color: #f46399;
}
.footer-t2{
    margin:auto;
    width: 80%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(50%, 50%, 44%);
    margin-top: -2em;
}
.copyright{
    font-size: 1.2rem;
}
/*este es un elemento para que TEAM3 haga GROW al pasar por encima*/
.footer-hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .footer-hvr-grow:hover, .footer-hvr-grow:focus, .footer-hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }




